img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#text-container span {
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
}

#text-container span.highlight {
  color: lime;
  transform: scale(1.5);
}
